<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Аптека Артема</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
    type="text/css">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" class="img-thumbnail">
</head>
<body class="background">

<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">

<style type="text/css">
body {
 font-family: 'Comfortaa', cursive;
}
</style>

<!--Фон для сайта-->
<style type="text/css">
.background {background-image:url('https://desktoplux.com/wallpapers/2000/1263/800x500.jpg');
    color: #fff;
    max-width: 100%;
    height: 100%;
    -webkit-background-size: 100;
    -moz-background-size: 100;
    -o-background-size: 100;
    background-size: 100;
    background-attachment: relative;
}
</style>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2" style="background-color: green">
                    <p></p>
                    <img src="{% static 'mainApp/3.jpg' %}" class="img-thumbnail" style="background-color: #DB7093">
                    <p></p>
                    <img src="{% static 'mainApp/4.jpg' %}" class="img-thumbnail" style="background-color: #DB7093">
                    <p></p>
                    <img src="{% static 'mainApp/1.jpg' %}" class="img-thumbnail" style="background-color: #DB7093">
                    <p></p>
                    <img src="{% static 'mainApp/2.jpg' %}" class="img-thumbnail" style="background-color: #DB7093">
                    <p></p>
                </div>
                <div class="col-md-8" align="middle">
                    <h1 style="background-color: #008000"> Добро пожаловать</h1>
            <p>
                <a href="/" class="btn btn-success btn-md">Главная страница аптеки</a>
                <a href="/lekarstva/" class="btn btn-info btn-md">Перейти к лекарствам</a>
                <a href="/contacts/" class="btn btn-primary btn-md">Контакты &raquo;</a>
                <a href="/admin/" class="btn btn-danger btn-md">Войти &raquo;</a>
            </p>
                     <p></p>

                    <a href="http://www.agpu.net/"><img class="rounded" width="960" height="540" src="https://sun9-32.userapi.com/c205820/v205820102/10bc54/bRNdDgS5HtE.jpg" style="background-color: silver"  ></a>
                     <p></p>
<iframe src="//coub.com/embed/1jgusd?muted=false&autostart=false&originalSize=false&startWithHD=false" allowfullscreen frameborder="0" width="640" height="360" allow="autoplay"></iframe><script async src="//c-cdn.coub.com/embed-runner.js"></script>
                    {% block content %}
                    {% endblock %}

<script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>

<!-- VK Widget -->
<div id="vk_contact_us"></div>
<script type="text/javascript">
VK.Widgets.ContactUs("vk_contact_us", {text: "Есть вопросы? Напишите нам", height: 30}, 267141542);
</script>
                    </div>
                 <div class="col-md-2" style="background-color: green">
                     <p></p>
                     <img src="{% static 'mainApp/1.jpg' %}" class="img-thumbnail" style="background-color: #DB7093">
                     <p></p>
                     <img src="{% static 'mainApp/2.jpg' %}" class="img-thumbnail" style="background-color: #DB7093">
                     <p></p>
                     <img src="{% static 'mainApp/3.jpg' %}" class="img-thumbnail" style="background-color: #DB7093">
                     <p></p>
                     <img src="{% static 'mainApp/4.jpg' %}" class="img-thumbnail" style="background-color: #DB7093">
                     <p></p>
                 </div>
            </div>
        </div>

</body>
</html>